html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #171919;
    color: #fff;
    text-transform: uppercase;

}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.headline-left {
    font-size: 22px;
    line-height: 32px;

    letter-spacing: 7.33333px;

    color: #FFFFFF;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    }
}

.title {
    span {
        font-size: 200px;
        color: rgba(#fff, .02);
        font-weight: 800;
        position: relative;
        display: inline-block;
        transform: translateX(-50px);
    }

    h3 {
        position: absolute;
        top: 0;
        left: 295px;
        margin: 0;
        color: #fff;
        font-size: 80px;

        &::after {
            content: '';
            position: absolute;
            background-color: $green;
            width: 80px;
            height: 1px;
            right: 0;
            top: 0px;
        }
    }
}

.subtitle {
    display: inline-block;
    text-align: right;

    &__head {
        font-size: 40px;
        font-weight: 800;
        padding-right: 5px;

        span {
            font-weight: 100;
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;

    span {
        position: relative;
        padding: 17px 57px 15px 17px;
        background-color: $green;
        display: inline-block;
        margin-left: 19px;

        &::before {
            content: '';
            position: absolute;
            height: 1px;
            width: 20px;
            background-color: #fff;
            top: 50%;
            left: -10px;

        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/arrows-right.svg);
            width: 25px;
            height: 21px;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);

        }
    }
}